<div *ngIf="questions.length > 0 && currentQuestionIndex < numQuestions">
    <h3>Question {{ currentQuestionIndex + 1 }}</h3>
    <p>{{ questions[currentQuestionIndex].text }}</p>
    <button (click)="playSnippet(questions[currentQuestionIndex].preview)">Play Snippet</button>
    <button (click)="pauseSnippet()">Pause Snippet</button>
    <ul>
      <li *ngFor="let option of questions[currentQuestionIndex].options">
        <button (click)="selectAnswer(option.name)">{{ option.name }}</button>
      </li>
    </ul>
    <button *ngIf="currentQuestionIndex < numQuestions - 1" (click)="currentQuestionIndex = currentQuestionIndex + 1">Next Question</button>
    <button *ngIf="currentQuestionIndex >= numQuestions - 1" (click)="selectAnswer('')">Submit</button>
  </div>