<div class="config-container">
  <div class="home-text">
    <h1>Who's Who - Music Guessing Game!</h1>
  </div>
  <div class="aligned-box">
    <h2>Select Game Configurations</h2>
    <div class="config-field" *ngIf="genres.length > 0">
      <label for="genre">Genre:</label>
      <select id="genre" class="input-field" [(ngModel)]="selectedGenre">
        <option value=""></option>
        <option *ngFor="let genre of genres" [value]="genre.id">
          {{ genre.name }}
        </option>
      </select>
    </div>

    <div class="config-field">
      <label for="searchType">Search Type:</label>
      <select id="searchType" class="input-field" [(ngModel)]="searchType">
        <option value="genre">Genre</option>
        <option value="artist">Artist</option>
        <option value="album">Album</option>
      </select>
    </div>

    <div class="config-field">
      <label for="searchQuery">Search Query:</label>
      <input
        id="searchQuery"
        class="input-field"
        type="text"
        [(ngModel)]="searchQuery"
      />
    </div>

    <div class="config-field">
      <label for="numChoices">Number of Choices per Question:</label>
      <input
        class="input-field"
        id="numChoices"
        type="number"
        [(ngModel)]="numChoices"
        min="2"
        max="10"
      />
    </div>

    <div class="config-field">
      <label for="numQuestions">Number of Questions:</label>
      <input
        class="input-field"
        id="numQuestions"
        type="number"
        [(ngModel)]="numQuestions"
        min="2"
        max="10"
      />
    </div>
    <div class="button-container">
      <button id="start-button" (click)="startGame()">Start Game</button>
    </div>
  </div>
</div>
