<div *ngIf="authLoading || configLoading">Loading...</div>
<div *ngIf="!authLoading && !configLoading">
  Genre:
  <select [(ngModel)]="selectedGenre" (ngModelChange)="setGenre($event)">
    <option [value]=""></option>
    <option [value]="genre" *ngFor="let genre of genres">
      {{ genre }}
    </option>
  </select>

  <!-- Add input fields for album and artist searches -->
  <!-- Maybe add this feature later -->
  <!-- <div>
    <label for="album-search">Album Name:</label>
    <input type="text" id="album-search" [(ngModel)]="albumQuery">
    <button (click)="searchByAlbumName(albumQuery)">Search Album</button>
  </div> -->

  <div>
    <label for="artist-search">Artist Name:</label>
    <input type="text" id="artist-search" [(ngModel)]="artistQuery" />
    <button (click)="searchByArtist(artistQuery)">Search Artist</button>
  </div>
</div>

<!-- Search Functions: When you click the search button associated with each input field, it triggers 
  a function call (searchByAlbumName(albumQuery) or searchByArtist(artistQuery)) that uses the current value of albumQuery or artistQuery to make an API request. -->

<!-- <div *ngIf="authLoading || configLoading">Loading...</div>
<div *ngIf="!authLoading && !configLoading">
  Genre:
  <select [(ngModel)]="selectedGenre" (ngModelChange)="setGenre($event)">
    <option [value]=""></option>
    <option [value]="genre" *ngFor="let genre of genres">
      {{ genre }}
    </option>
  </select>

  <div>
    <label>Search Playlists by Genre:</label>
    <input type="text" [(ngModel)]="genreQuery">
    <button (click)="searchByGenre(genreQuery)">Search</button>
  </div>


    <div>
      <label for="album-search">Search by Album Name:</label>
      <input type="text" id="album-search" [(ngModel)]="albumQuery">
      <button (click)="searchByAlbumName(albumQuery)">Search Album</button>
    </div>
  
    <div>
      <label for="artist-search">Search by Artist:</label>
      <input type="text" id="artist-search" [(ngModel)]="artistQuery">
      <button (click)="searchByArtist(artistQuery)">Search Artist</button>
    </div>

</div> -->
