<!-- <div *ngIf="!authLoading && !configLoading">
  Genre:
  <select
    [(ngModel)]="selectedGenre"
    (ngModelChange)="performGenreSearch(selectedGenre)"
  >
    <option [value]=""></option>
    <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
  </select>
</div>

  <div>
    <select [(ngModel)]="searchType">
      <option value="genre">Genre</option>
      <option value="artist">Artist</option>
      <option value="album">Album</option>
    </select>
    <input
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Enter search query"
    />
    <button (click)="performSearch()">Search</button>
    <button (click)="performGenreSearch(searchQuery)">Search by Genre</button>
  </div>

  <div>
    Number of Questions:
    <input type="number" [(ngModel)]="numQuestions" min="1" max="10" />
  </div>

  <div>
    Number of Choices per Question:
    <input type="number" [(ngModel)]="numChoices" min="2" max="10" />
  </div>


<div *ngIf="questions.length > 0">
  <h3>Questions</h3>
  <div *ngFor="let question of questions; let i = index">
    <p>{{ question.text }}</p>
    <button (click)="playSnippet(question.preview)">Play Snippet</button>
    <button (click)="pauseSnippet()">Pause Snippet</button>
    <ul>
      <li *ngFor="let track of tracks">
        {{ track.name }} -
        <a href="{{ track.preview_url }}" target="_blank">Preview</a>
      </li>
    </ul>
  </div>
</div>


<div *ngIf="tracks.length > 0">
  <h3>Tracks</h3>
  <ul>
    <li *ngFor="let track of tracks">
      {{ track.name }} -
      <a href="{{ track.preview_url }}" target="_blank">Preview</a>
    </li>
  </ul>
</div> -->
